@import "../../constants/color";

.profile_div{
    .MuiInputBase-root {
        border-radius: 10px !important;
        height: 45px;
    }
    .profile_heading{
        font-weight: 600;

    }
    .login_link{
      font-weight: 500;

    }

    .pinfo_div{
        .info_heading{
            font-weight: 600;
        }
        .text_heading{
            font-weight:600 ;
            font-size: 15px;
        }
        .heading_text{
            font-weight: 600;
            font-size: 18px;

        }
        .info_icon{
            font-size: 23px;
        }
        .heading_dec{
            font-weight: 500;
        }
    }
}
