@import "../../../constants/color";

.address_drawer_header_wrapper {
    border-bottom: 1px solid $light_text;
    height: 60px;
    display: flex;
    align-items: center;
    width: 400px;
    position: fixed;
    background-color: $white;
    z-index: 1;
}

.address_icon {
    font-size: 30px !important;
}

.main_address_div {
    margin-top: 4rem;

    .paperboxshadow {
        overflow-wrap: anywhere !important;
    }

    .add_icon {
        font-size: 23px !important;
    }

    .add_address_btn {
        font-weight: 600;
        height: 2.5rem;
        color: $primary !important;
        text-transform: capitalize;
        font-size: 17px;
        width: 100%;
        margin-top: 0.5rem;
        cursor: pointer;
    }

    .address_type {
        font-weight: 600;
        font-size: 17px;
    }

    .address_name {
        font-weight: 600;
        font-size: 17px;
    }

    .address_line {
        font-size: 16px;
    }

    .address_phone {
        font-size: 16px;
    }

    .not_add_icon {
        font-size: 50px;
    }

    .not_add_dec {
        font-weight: 600;
        font-size: 18px;
    }

    .add_check_box {
        .MuiSvgIcon-root {
            font-size: 20px !important;
        }
    }

    .delete_icon {
        font-size: 23px !important;
    }
}



//address


.address_drawer_footer {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 15px 15px;
    border-top: 1px solid $light_text;
    position: fixed;
    bottom: 0px;
    background-color: $white;
    z-index: 10;
    width: 400px;

    .address_close_btn {
        font-weight: 600;
        height: 2.5rem;
        color: $primary !important;
        text-transform: capitalize;
        font-size: 15px;
        margin-top: 0.5rem;
        cursor: pointer;
    }
}


@media (max-width: 700px) {
    .addres_drawer_div {
        width: 300px !important;
    }

    .address_drawer_header_wrapper {
        width: 300px !important;
    }

    .address_drawer_footer {
        width: 300px !important;
    }

    .addres_title {
        font-size: 18px !important;
    }

    .address_icon {
        font-size: 24px !important;
    }

    .add_address_btn {
        font-size: 16px !important;
    }

    .not_add_icon {
        font-size: 38px !important;
    }

    .not_add_dec {
        font-size: 13px !important;
    }

    .main_address_div {
        .delete_icon {
            font-size: 19px !important;

        }
    }

}

@media (max-width: 450px) {
    .addres_drawer_div {
        width: 275px !important;
    }

    .address_drawer_header_wrapper {
        width: 275px !important;
    }

    .address_drawer_footer {
        width: 275px !important;
    }

    .addres_title {
        font-size: 16px !important;
    }


    .address_icon {
        font-size: 24px !important;
    }

}