$white : white;
$primary : #964315;
$secondary : #F9F4F1;
$font_color: #110E0C;
$font-family: 'Open Sans', sans-serif;
$red: red;
$delete : #FA3E3E;
$background_color : #F5F5F5;
$error : #D32F2F;
$paper_boxshadow: rgba(0, 0, 0, 0.16);
$light_text: #A9A9A9;
$secondary_light : #E9CC97;
$darkbg: #1b120d;
$yellow: #ffcd3c;


//date range
$color-border: #dadada;
$color-text-invert: #fff;
$color-orange: #fc8019;
$color-red: #e4343c;
$color-black: #000;