@import "../../constants/color";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.otpcontainer {
    background-image: url("../../assets/image/loginbackground1.svg"), url("../../assets/image/loginbackground2.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom left;

    .css-tccdxk {
        gap: 25px !important;
    }

    .MuiInputBase-root {
        border-radius: 12px !important;
        height: 70px;
        width: 90px;
    }
}

.otpButton {
    color: $white !important;
    margin-top: 3rem !important;
    height: 3rem;
    font-weight: 700 !important;
    text-transform: capitalize !important;
    font-size: 1rem !important;
    border-radius: 12px !important;
}

@media (max-width: 1500px) {
    .otpcontainer {
        background-image: none !important;
        width: 100% !important;
    }
}

@media (max-width: 1000px) {
    .otpcontainer {
        background-image: none !important;
        width: 100% !important;

        .otppepar {
            width: 100% !important;
            height: 100vh;
            display: flex !important;
            align-items: center;
            justify-content: center;
            border-radius: 0rem !important;

            .LoginImg {
                display: none;
            }

            .MuiInputBase-root {
                border-radius: 12px !important;
                height: 50px;
                width: 50px;
            }
        }
    }
}

@media (max-width: 700px) {
    .otpcontainer {
        .otppepar {
            width: 100% !important;
            border-radius: 0rem !important;
        }

        .MuiInputBase-root {
            border-radius: 12px !important;
            height: 50px;
            width: 50px;
        }
    }


}