@import "../../constants/color";

.product_details {

    .add_cart_btn {
        // background-color: $darkbg !important;
        color: $white !important;
        height: 3rem;
        font-weight: 600 !important;
        text-transform: capitalize !important;
        font-size: 1rem !important;
        border-radius: 12px !important;
        cursor: pointer;
    }

    .review_heading{
        font-weight: 600;
        color: black;
        font-size: 16px;
        margin-top: 1.3rem;

    }

    .add_cart_icon {
        font-size: 28px;
    }

    .by_now {
        // background-color: $darkbg !important;
        color: $primary !important;
        height: 3rem;
        font-weight: 600 !important;
        text-transform: capitalize !important;
        font-size: 1rem !important;
        border-radius: 12px !important;
        cursor: pointer;
        width: 200px;
    }

    .popular_span {
        font-weight: 800;
        font-family: 'Open Sans', sans-serif !important;
        font-size: 23px;
    }

    .popular_span2 {
        font-weight: 600;
        font-family: 'Open Sans', sans-serif !important;
        font-size: 23px;
    }

    .carousel .thumb {
        width: 100px !important;
        height: 100px !important;
    }

    .similar_div {
        padding: 1rem 3rem 1rem 3rem;

        .similar_span {
            font-weight: 800;
            font-family: 'Open Sans', sans-serif !important;
            font-size: 23px;
        }

        .similar_span2 {
            font-weight: 600;
            font-family: 'Open Sans', sans-serif !important;
            font-size: 23px;
        }
    }

    .carousel .thumb.selected,
    .carousel .thumb:hover {
        border: 2px solid $light_text !important;
    }
}



@media (max-width: 700px) {
    .product_details {

        .rating_title{
            display: flex;
            justify-content: flex-start !important;
            flex-direction: column;
            align-items: start !important;
            gap: 3px;
        }

        .time_date_rating{
            width:100% !important;
            justify-content: flex-start !important;
        }
        .carousel .thumb {
            width: 55px !important;
            height: 55px !important;
        }

        .add_cart_icon {
            font-size: 25px;
        }

        .by_now {
            // background-color: $darkbg !important;
            width: 100%;
        }
    }

    .product_images {
        height: 100% !important;
        width: 100% !important;
    }
}