@import "../../constants/color";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.resetcontainer {
    background-image: url("../../assets/image/loginbackground1.svg"), url("../../assets/image/loginbackground2.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom left;

    .MuiInputBase-root {
        border-radius: 12px !important;
        height: 45px;
    }
}

.signup_link {
    color: $primary;
    text-decoration: underline;
    cursor: pointer;
}

.resetField {
    width: 100%;
}

.resetButton {
    color: $white !important;
    margin-top: 3rem !important;
    height: 3rem;
    font-weight: 700 !important;
    text-transform: capitalize !important;
    font-size: 1rem !important;
    border-radius: 12px !important;
}

@media (max-width: 1500px) {
    .resetcontainer {
        background-image: none !important;
        width: 100% !important;
    }
}


@media (max-width: 1000px) {
    .resetcontainer {
        background-image: none !important;
        width: 100% !important;

        .resetpepar {
            width: 100% !important;
            height: 100vh;
            display: flex !important;
            align-items: center;
            justify-content: center;
            border-radius: 0rem !important;

            .LoginImg {
                display: none;
            }
        }
    }
}

@media (max-width: 700px) {
    .resetcontainer {
        .resetpepar {
            width: 100% !important;
            border-radius: 0rem !important;
        }
    }
}